backend:
  name: git-gateway
  # branch: master # Branch to update (optional; defaults to master)
  branch: cms # Branch to update (optional; defaults to master)

# Please run 'npx netlify-cms-proxy-server' for local backend
local_backend: true

media_folder: static/media
public_folder: /media

i18n:
  # Required and can be one of multiple_folders, multiple_files or single_file
  # multiple_folders - persists files in `<folder>/<locale>/<slug>.<extension>`
  # multiple_files - persists files in `<folder>/<slug>.<locale>.<extension>`
  # single_file - persists a single file in `<folder>/<slug>.<extension>`
  structure: single_file

  # Required - a list of locales to show in the editor UI
  locales: [en, fr]

  # Optional, defaults to the first item in locales.
  # The locale to be used for fields validation and as a baseline for the entry.
  default_locale: en

collections:
  - name: 'stories'
    label: 'Stories'
    folder: 'static/cms-data/stories'
    format: 'json'
    create: true
    i18n: true
    editor:
      preview: false
    identifier_field: id
    fields:
      - {label: 'Id (never change this, only set a unique value at creation)', name: id, widget: string, hint: 'At creation, the id will determine the name of the file where the story is stored.' }
      - { label: 'Title', name: 'title', widget: 'string', i18n: true }
      - label: 'Building blocks'
        name: 'buildingBlocks'
        widget: 'list'
        summary: '{{fields.title}}'
        i18n: true
        types:
          - label: 'old Profile block'
            name: blocks/OldProfileBlock
            fields:
              - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/OldProfileBlock}
              - { label: 'Name', name: title, required: false, i18n: true, widget: 'string'}
              - { label: 'JobTitle', name: jobTitle, required: false, i18n: true, widget: 'string'}
              - { label: 'Description', name: description, required: false, i18n: true, widget: 'text'}
              - { label: 'Profile picture', name: profilePicture, required: false, i18n: true, widget: image}
          - label: 'Profile block'
            name: blocks/ProfileBlock
            fields:
              - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/ProfileBlock}
              - name: title
                label: 'Person'
                widget: relation
                collection: persons
                value_field: id
                display_fields: ['name']
                search_fields: ['name']
                multiple: false
          - label: 'Paragraph block'
            name: blocks/ParagraphBlock
            fields:
              - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/ParagraphBlock}
              - { label: 'Title', name: title, required: false, i18n: true, widget: 'string'}
              # copy/paste this to flow block
              - name: content
                label: 'Content'
                widget: 'list'
                summary: '{{fields.text}}'
                types:
                  - label: 'Text block'
                    name: blocks/TextBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/TextBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                  - label: 'Page view link block'
                    name: base/button/PagePreviewLink
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/PagePreviewLink}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                  - label: 'Quote block'
                    name: blocks/QuoteBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/QuoteBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false
                  - label: 'Long quote block'
                    name: blocks/LongQuoteBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/LongQuoteBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false

                  - label: 'Voice block'
                    name: blocks/VoiceBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/VoiceBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Color', name: color, required: false, i18n: true, widget: 'color'}
                      - { label: 'Width', name: width, required: false, i18n: true, widget: 'string'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false

                  - label: 'Chat block'
                    name: blocks/ChatBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/ChatBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Color', name: color, required: false, i18n: true, widget: 'color'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false
                      - label: 'Position'
                        name: position
                        required: false
                        widget: 'select'
                        options: ['left', 'right']
                        multiple: false
                  - label: 'Code block'
                    name: blocks/CodeBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/CodeBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Title', name: title, required: false, i18n: true, widget: 'string'}
                      - { label: 'Language', name: language, required: false, i18n: true, widget: 'string'}
                      - { label: 'SourceText', name: sourceText, required: false, i18n: true, widget: 'text'}
                      - { label: 'SourceLinkText', name: sourceLinkText, required: false, i18n: true, widget: 'string'}
                      - { label: 'SourceLinkURL', name: sourceLinkURL, required: false, i18n: true, widget: 'file'}
                  - label: 'Horizontal bar chart'
                    name: blocks/HorizontalBarChart
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/HorizontalBarChart}
                      - { label: 'Title', name: title, required: false, i18n: true, widget: 'string'}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'hidden', default: 'Graph'}

          - label: 'Flow block'
            name: blocks/FlowBlock
            fields:
              - { label: 'Type', name: type, required: false, i18n: true, widget: 'string'}
              - { label: 'Title', name: title, required: false, i18n: true, widget: 'string'}
              - { label: 'Text on the left', name: leftText, required: false, i18n: true, widget: 'string'}
              - name: nodes
                label: 'Nodes'
                widget: 'list'
                summary: '{{fields.id}}'
                fields:
                  - { label: 'Id', name: id, widget: 'string'}
                  - { label: 'Label', name: label, required: false, i18n: true, widget: 'string'}
                  - { label: 'Logo', name: logo, required: false, i18n: true, widget: 'string'}
                  - name: links
                    label: 'Links'
                    widget: 'list'
                    summary: '{{fields.id}}'
                    fields:
                      - { label: 'Id', name: id, widget: 'string'}
              # copy/paste this from paragraph block
              - name: content
                label: 'Content'
                widget: 'list'
                summary: '{{fields.text}}'
                types:
                  - label: 'Text block'
                    name: blocks/TextBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/TextBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                  - label: 'Page view link block'
                    name: base/button/PagePreviewLink
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/PagePreviewLink}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                  - label: 'Quote block'
                    name: blocks/QuoteBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/QuoteBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false

                  - label: 'Long quote block'
                    name: blocks/LongQuoteBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/LongQuoteBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false

                  - label: 'Voice block'
                    name: blocks/VoiceBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/VoiceBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Color', name: color, required: false, i18n: true, widget: 'color'}
                      - { label: 'Width', name: width, required: false, i18n: true, widget: 'string'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false

                  - label: 'Chat block'
                    name: blocks/ChatBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/ChatBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Color', name: color, required: false, i18n: true, widget: 'color'}
                      - { label: 'Link', name: link, required: false, i18n: true, widget: 'file'}
                      - name: author
                        label: 'Author'
                        widget: relation
                        collection: persons
                        value_field: id
                        display_fields: ['name']
                        search_fields: ['name']
                        multiple: false
                      - label: 'Position'
                        name: position
                        required: false
                        widget: 'select'
                        options: ['left', 'right']
                        multiple: false
                  - label: 'Code block'
                    name: blocks/CodeBlock
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/CodeBlock}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'text'}
                      - { label: 'Title', name: title, required: false, i18n: true, widget: 'string'}
                      - { label: 'Language', name: language, required: false, i18n: true, widget: 'string'}
                      - { label: 'SourceText', name: sourceText, required: false, i18n: true, widget: 'text'}
                      - { label: 'SourceLinkText', name: sourceLinkText, required: false, i18n: true, widget: 'string'}
                      - { label: 'SourceLinkURL', name: sourceLinkURL, required: false, i18n: true, widget: 'file'}
                  - label: 'Horizontal bar chart'
                    name: blocks/HorizontalBarChart
                    fields:
                      - { label: 'Type', name: type, required: false, i18n: true, widget: 'hidden', default: blocks/HorizontalBarChart}
                      - { label: 'Title', name: title, required: false, i18n: true, widget: 'string'}
                      - { label: 'Text', name: text, required: false, i18n: true, widget: 'hidden', default: 'Graph'}
          - label: 'Read also block'
            name: blocks/ReadAlsoBlock
            fields:
              - { label: 'Type', name: type, required: false, i18n: true, widget: 'string'}


  - name: 'stories0'
    label: 'Stories (old)'
    folder: 'static/cms-data/stories0'
    format: 'json'
    create: true
    i18n: true
    editor:
      preview: false
    identifier_field: id
    fields:
      - {label: 'Id (never change this, only set a unique value at creation)', name: id, widget: string, hint: 'At creation, the id will determine the name of the file where the story is stored.' }
      - { label: 'Url path', name: 'url-path', widget: 'string', hint: 'the path to this story after the site name datastories.com/en/[url path]' }
      - { label: 'Title', name: 'title', widget: 'string', i18n: true }
      - { label: 'Publish Date', name: 'date', widget: 'datetime', i18n: true }
      - { label: 'Description', name: 'description', widget: 'string', i18n: true }
      - { label: 'Body', name: 'body', widget: 'markdown', i18n: true }

  - name: 'configuration'
    label: 'Configuration'
    files:
      - name: 'visible-stories'
        label: 'Visible stories'
        file: static/cms-data/visible.stories.json
        i18n: false
        fields:
          - name: visible-stories-list
            label: 'Visible Stories'
            widget: 'list'
            summary: '{{fields.title}}'
            fields:
              - name: story
                label: Story
                widget: relation
                collection: stories
                value_field: id
                display_fields: ['title']
                search_fields: ['title']
                multiple: false

  - name: 'persons'
    label: 'Persons'
    folder: 'static/cms-data/persons'
    format: 'json'
    create: true
    identifier_field: id
    i18n: true
    fields:
      - {label: 'Id (never change this, only set a unique value at creation)', name: id, widget: string, hint: 'At creation, the id will determine the name of the file where the person is stored.' }
      - { label: 'Name', name: name, required: false, i18n: true, widget: 'string'}
      - { label: 'JobTitle', name: jobTitle, required: false, i18n: true, widget: 'string'}
      - { label: 'Description', name: description, required: false, i18n: true, widget: 'text'}
      - { label: 'Profile picture', name: profilePicture, required: false, i18n: true, widget: image}
